# Exercise61:Average

In [12]:
num2 = list()
c=0
while True:
    num = input()
    if num == '0':
        break;
    else :
        num2.append(int(num))
if len(num2)!=0:
    print(sum(num2)/len(num2))
else:
    raise Exception('Error : not Enter zero')

0

Exception: Error : not Enter zero

# Exercise63:TemperatureConversionTable

1~100도까지 섭씨 화씨 온도 변환 표 f = c * 9/5 + 32

In [18]:
def converse (c):
    f=c*9/5+32
    return f
for i in range(1,101):
    print('c : ',i,' f : ',converse(i))

c :  1  f :  33.8
c :  2  f :  35.6
c :  3  f :  37.4
c :  4  f :  39.2
c :  5  f :  41.0
c :  6  f :  42.8
c :  7  f :  44.6
c :  8  f :  46.4
c :  9  f :  48.2
c :  10  f :  50.0
c :  11  f :  51.8
c :  12  f :  53.6
c :  13  f :  55.4
c :  14  f :  57.2
c :  15  f :  59.0
c :  16  f :  60.8
c :  17  f :  62.6
c :  18  f :  64.4
c :  19  f :  66.2
c :  20  f :  68.0
c :  21  f :  69.8
c :  22  f :  71.6
c :  23  f :  73.4
c :  24  f :  75.2
c :  25  f :  77.0
c :  26  f :  78.8
c :  27  f :  80.6
c :  28  f :  82.4
c :  29  f :  84.2
c :  30  f :  86.0
c :  31  f :  87.8
c :  32  f :  89.6
c :  33  f :  91.4
c :  34  f :  93.2
c :  35  f :  95.0
c :  36  f :  96.8
c :  37  f :  98.6
c :  38  f :  100.4
c :  39  f :  102.2
c :  40  f :  104.0
c :  41  f :  105.8
c :  42  f :  107.6
c :  43  f :  109.4
c :  44  f :  111.2
c :  45  f :  113.0
c :  46  f :  114.8
c :  47  f :  116.6
c :  48  f :  118.4
c :  49  f :  120.2
c :  50  f :  122.0
c :  51  f :  123.8
c :  52  f :  125.6
c :  53  f :  127.4
c :  54  f :  129.2
c :  55  f :  131.0
c :  56  f :  132.8
c :  57  f :  134.6
c :  58  f :  136.4
c :  59  f :  138.2
c :  60  f :  140.0
c :  61  f :  141.8
c :  62  f :  143.6
c :  63  f :  145.4
c :  64  f :  147.2
c :  65  f :  149.0
c :  66  f :  150.8
c :  67  f :  152.6
c :  68  f :  154.4
c :  69  f :  156.2
c :  70  f :  158.0
c :  71  f :  159.8
c :  72  f :  161.6
c :  73  f :  163.4
c :  74  f :  165.2
c :  75  f :  167.0
c :  76  f :  168.8
c :  77  f :  170.6
c :  78  f :  172.4
c :  79  f :  174.2
c :  80  f :  176.0
c :  81  f :  177.8
c :  82  f :  179.6
c :  83  f :  181.4
c :  84  f :  183.2
c :  85  f :  185.0
c :  86  f :  186.8
c :  87  f :  188.6
c :  88  f :  190.4
c :  89  f :  192.2
c :  90  f :  194.0
c :  91  f :  195.8
c :  92  f :  197.6
c :  93  f :  199.4
c :  94  f :  201.2
c :  95  f :  203.0
c :  96  f :  204.8
c :  97  f :  206.6
c :  98  f :  208.4
c :  99  f :  210.2
c :  100  f :  212.0

# Exercise66:ComputeaGradePointAverage

In [31]:
grade_list= list()
sum_g = float(0)
def g(x):
    return{
        'A+' : 4.0,
        'A' : 4.0,
        'A-' : 3.7,
        'B+' : 3.3,
        'B' : 3.0,
        'B-' : 2.7,
        'C+' : 2.3,
        'C' : 2.0,
        'C-' : 1.7,
        'D+':1.3,
        'D':1.0,
        'F':0.0
        
    }.get(x, "No data")
while True:
    grade = input()
    if grade is '':
        break;
    else :
        grade_list.append(grade)
for i in grade_list:
    sum_g+=g(i)
print(sum_g/len(grade_list))

A+
B+
C

3.1

# Exercise67:AdmissionPrice

Children between 3 and 12 years of age cost $14.00. Seniors aged 65 years and over cost $18.00. Admission for all other guests is $23.00. 소수점 두자리 끊기.

In [8]:
user_list = list()
sum_pay = 0
def div_pay(x):
    if(2<x<13):
        return 14.00
    elif(x>=65):
        return 18.00
    else:
        return 23.00
while True:
    user_age = input()
    if user_age == '':
        break;
    else :
        user_list.append(user_age)
for i in user_list:
    sum_pay+=div_pay(int(i))
print('%.2f'%sum_pay)

12
6

28.00

# Exercise72:IsaStringaPalindrome?

Astringisapalindromeifitisidenticalforwardandbackward.Forexample“anna”, “civic”,“level”and“hannah”areallexamplesofpalindromicwords.Writeaprogram that reads a string from the user and uses a loop to determines whether or not it is a palindrome. Display the result, including a meaningful output message.

In [14]:
a = list(input())
r = len(a)/2
for i in range(0,int(r)):
    if(a[i]==a[-i-1]):
        continue
    else:
        print('not palindrome')
        break
else:
    print('palindrome')

hannah
palindrome

# Exercise74:MultiplicationTable

In [63]:
for i in range(1,11):
    print("\t",i,end="")
print("\n")
for i in range(1,11):
    print(i,end="\t")
    for j in range(1,11):
        print(i*j,end="\t")
        
    print("\n")

	 1	 2	 3	 4	 5	 6	 7	 8	 9	 10

1	1	2	3	4	5	6	7	8	9	10

2	2	4	6	8	10	12	14	16	18	20

3	3	6	9	12	15	18	21	24	27	30

4	4	8	12	16	20	24	28	32	36	40

5	5	10	15	20	25	30	35	40	45	50

6	6	12	18	24	30	36	42	48	54	60

7	7	14	21	28	35	42	49	56	63	70

8	8	16	24	32	40	48	56	64	72	80

9	9	18	27	36	45	54	63	72	81	90

10	10	20	30	40	50	60	70	80	90	100

# Exercise75:GreatestCommonDivisor

In [43]:
aa = int(input())
bb = int(input())
cc = min(aa,bb)
while True:
    if(aa%cc==0 and bb%cc==0):
        print(cc)
        break;
    else:
        cc=cc-1

4
8
4

In [36]:
type(aa)

str

# Exercise77:BinarytoDecimal

In [29]:
a = input()
b = list()
sum_all=0
for i in range(0,len(a)):
    sum_all += int(a[i])*(2**(len(a)-i-1))
print(sum_all)

10101
21

# Exercise78:DecimaltoBinary

In [23]:
dtb_list=list()
e = int(input())
while True:
    p=int(e)/2
    r=int(e)%2
    if p==0 :
        break;
    else:
           dtb_list.append(r)
    e = p
dtb_list.reverse()
print(dtb_list)

15
[1, 1, 1, 1]